name: Build ZygorGuideLoader

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install customtkinter pyinstaller

      - name: Build Executable with PyInstaller
        run: |
          pyinstaller --noconsole --onefile --collect-all customtkinter --icon=favicon.ico main.py

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ZygorGuideLoader-Exe
          path: dist/main.exe
